:root {
    --box-font-size: 5rem;
    --box-height: 8rem;
    --numbers-color: white;
    --text-font-size: calc(var(--box-font-size) - 1rem);
    --text-height: calc(var(--box-height) - var(--box-height) * 35 / 100) + "rem";
    --button-width: 5rem;
}

body
{
    font-family: "Optima", sans-serif;
    background: linear-gradient(45deg, rgba(80,211,238,1) 0%, rgba(114,144,240,1) 41%, rgba(210,103,249,1) 100%);
    background-size: cover;
}

.container
{
    width: 45rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.counter
{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 10rem;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
}

.box
{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: var(--box-font-size);
    text-align: center;

    margin: 1rem 2.5rem 1rem 2.5rem;
    width: 10rem;
    height: var(--box-height);
    background-color: rgb(0, 0, 0);
}

.hoursT
{
    color: var(--numbers-color);
}

.minutesT
{
    color: var(--numbers-color);
}

.secondsT
{
    color: var(--numbers-color);
}

.text
{
    display: flex;
    color: rgb(158, 154, 154);
    font-size: var(--text-font-size);
    height: 5.2rem;
}

.buttons
{
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 3rem;
    margin-top: 2rem;
}

.btnSt{
    text-align: center;
    width: var(--button-width);

    color: var(--numbers-color);
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
}

.pause
{
    margin: 0rem 3rem 0rem 3rem;
}

/* tablets*/
@media only screen and (max-width: 768px){
    .container
    {
        width: 70vw;
    }

    .counter
    {
        height: 7rem;
    }

    .box
    {
        font-size: 380%;
        width: 20%;
        height: 7rem;
        margin: 0.5rem 1.2rem 0.5rem 1.2rem;
    }

    .text
    {
        font-size: 300%;
    }

    .buttons
    {
        height: 2rem;
        margin-top: 1rem;
    }

    .btnSt
    {
        width: calc(var(--button-width) - 1rem);
    }

    .pause
    {
        margin: 0rem 2rem 0rem 2rem;
    }
}

/* medium mobile 375 */
@media only screen and (max-width: 425px){ 
    .container
    {
        width: 90vw;
    }

    .counter
    {
        height: 6rem;
    }

    .box
    {
        font-size: 330%;
        width: 20%;
        height: 6rem;
        margin: 0.5rem 1rem 0.5rem 1rem;
    }

    .text
    {
        font-size: 300%;
    }

    .buttons
    {
        height: 2rem;
        margin-top: 1rem;
    }

    .btnSt
    {
        width: calc(var(--button-width) - 1rem);
    }

    .pause
    {
        margin: 0rem 1rem 0rem 1rem;
    }
}